{# フッター部分 #}

<footer class="footer">
  <div class="footer__inner">
    <ul class="footer__menu">
      <li><a href="/">トップ</a></li>
      <li><a href="/privacy/">プライバシーポリシー</a></li>
      <li><a href="/sitemap/">サイトマップ</a></li>
    </ul>
    <p class="footer__copyright" lang="en"><small>Copyright © {{ page.date | formatDate('YYYY') }} siteName All Right Reserved.</small></p>
  </div>
</footer>
