<!DOCTYPE html>
<html class="no-js" lang="{{ site.lang }}">
  <head>
    {% include "head.njk" ignore missing %}
  </head>
  <body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
    <div id="skipLink" class="skipLink"><a href="#contents">ページの本文へ</a></div>

    <div id="page" class="page">
      {% include "header.njk" ignore missing %}

      <div id="contents" class="contents">
        {{ content | safe }}
      </div>

      {% include "footer.njk" ignore missing %}
    </div>
    {% include "footer_script.njk" ignore missing %}
  </body>
</html>
