@use "../global" as g;
// ----------------------------------------------------
//  メインコンテンツ部分
// ----------------------------------------------------
.contents {
  margin: 0 auto 80px;
  max-width: g.$width-main;
  @include g.media(sp) {
    padding: 0 15px;
  }
}
