---
layout: layouts/default.njk
title: トップページ
description:
permalink: index.html
bodyClass: page-top
# date: 2021-09-25
---

<h2 class="title -style01">{{ title }}</h2>
<p>
  できるだけシンプルな構成にした11ty+Gulpのスターターキット。<br>
  GulpはSass関係と不要ファイル削除くらいしか使わず、殆どは11tyの機能のみで対応。
</p>

<h2 class="title -style01">全ページ一覧</h2>
<p class="mb20">アバウトページにパンくずリストのサンプル、お知らせはページ分割のサンプルが有りマス。404を一覧に出したくない場合は、eleventyExcludeFromCollections: true に。</p>
<ol>
  {%- for item in collections.all -%}
    <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
  {%- endfor -%}
</ol>

<h2 class="title -style01">日付テスト</h2>
<p>何も指定なし：{{ page.date }}</p>
<p>年だけ表示：{{ page.date | formatDate('YYYY年') }}</p>
<p>年月日を/で：{{ page.date | formatDate('YYYY/MM/DD') }}</p>

<h2 class="title -style01">_data/news.jsonのお知らせ 3件</h2>
<ul>
  {% for entry in news.contents %}
    {% if loop.index <= 3 -%}
      <li>
        <time>{{ entry.date | formatDate('YYYY年MM月DD日') }}</time>
        <p>
        {{ entry.paragraph }}
        </p>
      </li>
    {% endif -%}
  {% endfor %}
</ul>
